<a href="https://colab.research.google.com/github/ghost22r/challenge-amigo-secreto-aluram/blob/main/AluraStoreLatam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Importación de datos

In [7]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

#1. Análisis de facturación

In [19]:
ingreso_total_tienda1 = tienda['Precio'].sum()
print(f'El ingreso total de la tienda uno es: {ingreso_total_tienda1:,.2f}')

El ingreso total de la tienda uno es: 1,150,880,400.00

In [20]:
ingreso_total_tienda2 = tienda2['Precio'].sum()
print(f'El ingreso total de la tienda dos es: {ingreso_total_tienda2:,.2f}')

El ingreso total de la tienda dos es: 1,116,343,500.00

In [21]:
ingreso_total_tienda3 = tienda3['Precio'].sum()
print(f'El ingreso total de la tienda tres es: {ingreso_total_tienda3:,.2f}')

El ingreso total de la tienda tres es: 1,098,019,600.00

In [22]:
ingreso_total_tienda4 = tienda4['Precio'].sum()
print(f'El ingreso total de la tienda cuatro es: {ingreso_total_tienda4:,.2f}')

El ingreso total de la tienda cuatro es: 1,038,375,700.00

# 2. Ventas por categoría

In [72]:
categoria_tienda1 = tienda['Categoría del Producto'].value_counts()
categoria_tienda1

Categoría del Producto
Muebles                    465
Electrónicos               448
Juguetes                   324
Electrodomésticos          312
Deportes y diversión       284
Instrumentos musicales     182
Libros                     173
Artículos para el hogar    171
Name: count, dtype: int64

In [74]:
categoria_mas_vendida_tienda1 = categoria_tienda1.idxmax()
cantidad_mas_vendida_tienda1 = categoria_tienda1.max()
print(f'La categoría más vendida en la tienda 1 es: {categoria_mas_vendida_tienda1} con {cantidad_mas_vendida_tienda1} unidades')

La categoría más vendida en la tienda 1 es: Muebles con 465 unidades

In [55]:
categoria_tienda2 = tienda2['Categoría del Producto'].value_counts()
categoria_tienda2

Categoría del Producto
Muebles                    442
Electrónicos               422
Juguetes                   313
Electrodomésticos          305
Deportes y diversión       275
Instrumentos musicales     224
Libros                     197
Artículos para el hogar    181
Name: count, dtype: int64

In [73]:
categoria_mas_vendida_tienda2 = categoria_tienda2.idxmax()
cantidad_mas_vendida_tienda2 = categoria_tienda2.max()
print(f'La categoría más vendida en la tienda 2 es: {categoria_mas_vendida_tienda2} con {cantidad_mas_vendida_tienda2} unidades')

La categoría más vendida en la tienda 2 es: Muebles con 442 unidades

In [56]:
categoria_tienda3 = tienda3['Categoría del Producto'].value_counts()
categoria_tienda3

Categoría del Producto
Muebles                    499
Electrónicos               451
Juguetes                   315
Electrodomésticos          278
Deportes y diversión       277
Libros                     185
Instrumentos musicales     177
Artículos para el hogar    177
Name: count, dtype: int64

In [75]:
categoria_mas_vendida_tienda3 = categoria_tienda3.idxmax()
cantidad_mas_vendida_tienda3 = categoria_tienda3.max()
print(f'La categoría más vendida en la tienda 3 es: {categoria_mas_vendida_tienda3} con {cantidad_mas_vendida_tienda3} unidades')

La categoría más vendida en la tienda 3 es: Muebles con 499 unidades

In [57]:
categoria_tienda4 = tienda4['Categoría del Producto'].value_counts()
categoria_tienda4

Categoría del Producto
Muebles                    480
Electrónicos               451
Juguetes                   338
Deportes y diversión       277
Electrodomésticos          254
Artículos para el hogar    201
Libros                     187
Instrumentos musicales     170
Name: count, dtype: int64

In [76]:
categoria_mas_vendida_tienda4 = categoria_tienda4.idxmax()
cantidad_mas_vendida_tienda4 = categoria_tienda4.max()
print(f'La categoría más vendida en la tienda 4 es: {categoria_mas_vendida_tienda4} con {cantidad_mas_vendida_tienda4} unidades')

La categoría más vendida en la tienda 4 es: Muebles con 480 unidades

# 3. Calificación promedio de la tienda

In [88]:
calif_promedio_tienda1 = tienda['Calificación'].mean()
print(f'La calificación promedio de la tienda 1 es: {calif_promedio_tienda1:.2f}')

La calificación promedio de la tienda 1 es: 3.98

In [89]:
calif_promedio_tienda2 = tienda2['Calificación'].mean()
print(f'La calificación promedio de la tienda 2 es: {calif_promedio_tienda2:.2f}')

La calificación promedio de la tienda 2 es: 4.04

In [91]:
calificacion_promedio_tienda3 = tienda3['Calificación'].mean()
print(f'La calificación promedio de la tienda 3 es: {calificacion_promedio_tienda3:.2f}')

La calificación promedio de la tienda 3 es: 4.05

In [92]:
calificacion_promedio_tienda4 = tienda4['Calificación'].mean()
print(f'La calificación promedio de la tienda 4 es: {calificacion_promedio_tienda4:.2f}')

La calificación promedio de la tienda 4 es: 4.00

# 4. Productos más y menos vendidos

###Cantidades más vendida de la tienda **1**

In [103]:
prod_mas_vendido_tienda1 = tienda.groupby('Producto').size().sort_values(ascending=False).head().reset_index(name='Cantidad Vendida')
prod_mas_vendido_tienda1

           Producto  Cantidad Vendida
0           Armario                60
1     TV LED UHD 4K                60
2        Microondas                60
3  Secadora de ropa                58
4     Mesa de noche                56

####Cantidades menos vendida

In [108]:
prod_menos_vendido_tienda1 = tienda.groupby('Producto').size().sort_values(ascending=True).head().reset_index(name='Cant. menos Vendida')
prod_menos_vendido_tienda1

                      Producto  Cant. menos Vendida
0    Auriculares con micrófono                   33
1                 Celular ABXY                   33
2              Olla de presión                   35
3                    Pandereta                   36
4  Ciencia de datos con Python                   39

###Cantidades más vendida de la tienda **2**

In [104]:
prod_mas_vendido_tienda2 = tienda2.groupby('Producto').size().sort_values(ascending=False).head().reset_index(name='Cantidad Vendida')
prod_mas_vendido_tienda2

                    Producto  Cantidad Vendida
0  Iniciando en programación                65
1                 Microondas                62
2                    Batería                61
3                  Pandereta                58
4          Guitarra acústica                58

####Cantidades menos vendida

In [110]:
prod_menos_vendido_tienda1 = tienda2.groupby('Producto').size().sort_values(ascending=True).head().reset_index(name='Cant. menos Vendida')
prod_menos_vendido_tienda1

          Producto  Cant. menos Vendida
0    Juego de mesa                   32
1        Impresora                   34
2  Mesa de comedor                   34
3           Sillón                   35
4      Auriculares                   37

###Cantidades más vendida de la tienda **3**

In [105]:
prod_mas_vendido_tienda3 = tienda3.groupby('Producto').size().sort_values(ascending=False).head().reset_index(name='Cantidad Vendida')
prod_mas_vendido_tienda3

          Producto  Cantidad Vendida
0    Kit de bancas                57
1  Mesa de comedor                56
2        Cama king                56
3     Set de ollas                55
4    Mesa de noche                55

####Cantidades menos vendida

In [111]:
prod_menos_vendido_tienda3 = tienda3.groupby('Producto').size().sort_values(ascending=True).head().reset_index(name='Cant. menos Vendida')
prod_menos_vendido_tienda3

                  Producto  Cant. menos Vendida
0  Bloques de construcción                   35
1             Set de vasos                   36
2                  Mochila                   36
3               Microondas                   36
4             Vaso térmico                   38

###Cantidades más vendida de la tienda **4**

In [106]:
prod_mas_vendido_tienda4 = tienda4.groupby('Producto').size().sort_values(ascending=False).head().reset_index(name='Cantidad Vendida')
prod_mas_vendido_tienda4

                    Producto  Cantidad Vendida
0                   Cama box                62
1                 Cubertería                59
2                  Cama king                56
3    Dashboards con Power BI                56
4  Carrito de control remoto                55

####Cantidades menos vendida de la tienda **4**

In [112]:
prod_menos_vendido_tienda4 = tienda4.groupby('Producto').size().sort_values(ascending=True).head().reset_index(name='Cant. menos Vendida')
prod_menos_vendido_tienda4

                      Producto  Cant. menos Vendida
0           Guitarra eléctrica                   33
1                      Armario                   34
2            Guitarra acústica                   37
3  Ciencia de datos con Python                   38
4             Lavadora de ropa                   38

# 5. Envío promedio por tienda

In [123]:
costo_envio_tienda1 = tienda['Costo de envío'].mean()
print(f'el costo de envio promedio de la tienda 1 es: {costo_envio_tienda1:,.2f}')

el costo de envio promedio de la tienda 1 es: 26,018.61

In [124]:
costo_envio_tienda2 = tienda2['Costo de envío'].mean()
print(f'el costo de envio promedio de la tienda 2 es: {costo_envio_tienda2:,.2f}')

el costo de envio promedio de la tienda 2 es: 25,216.24

In [125]:
costo_envio_tienda3 = tienda3['Costo de envío'].mean()
print(f'el costo de envio promedio de la tienda 3 es: {costo_envio_tienda3:,.2f}')

el costo de envio promedio de la tienda 3 es: 24,805.68

In [127]:
costo_envio_tienda4 = tienda4['Costo de envío'].mean()
print(f'el costo de envio promedio de la tienda 4 es: {costo_envio_tienda4:,.2f}')

el costo de envio promedio de la tienda 4 es: 23,459.46

# realiza un relatorio para informar a juan sobre que hacer sobre las empresas